<nav class="navbar" [ngClass]="{
    'mobile-ar-sidebar-open': this.languageService.userLanguage == 'ar'
  }">
    <a href="" class="sidebar-toggler" (click)="toggleSidebar($event)">
        <i class="feather icon-menu"></i>
    </a>
    <div class="navbar-content" [ngStyle]="
      this.languageService.userLanguage == 'ar' && {
        'padding-left': '180px'
      }
    ">
        <!--<form class="search-form">
      <div class="input-group">
        <div class="input-group-prepend">
          <div class="input-group-text">
            <i class="feather icon-search"></i>
          </div>
        </div>
        <input
          type="text"
          class="form-control"
          id="navbarForm"
          placeholder="{{ 'searchMsg' | translate }}"
        />
      </div>
    </form>-->
        <ul class="navbar-nav">
            <!--<li class="nav-item nav-notifications" ngbDropdown>
        <a class="nav-link" ngbDropdownToggle id="notificationDropdown">
          <i class="link-icon feather icon-bell"></i>
          <div class="indicator">
            <div [ngClass]="{ circle: showNotificationCircle }"></div>
          </div>
        </a>
        <div ngbDropdownMenu aria-labelledby="notificationDropdown">
          <div
            class="dropdown-header d-flex align-items-center justify-content-between"
          >
            <p class="mb-0 font-weight-medium">6 New Notifications</p>
            <a href="" (click)="(false)" class="text-muted">Clear all</a>
          </div>
          <div class="dropdown-body">
            <a href="" (click)="(false)" class="dropdown-item">
              <div class="icon">
                <i class="feather icon-user-plus"></i>
              </div>
              <div class="content">
                <p>New customer registered</p>
                <p class="sub-text text-muted">2 sec ago</p>
              </div>
            </a>
            <a href="" (click)="(false)" class="dropdown-item">
              <div class="icon">
                <i class="feather icon-gift"></i>
              </div>
              <div class="content">
                <p>New Order Recieved</p>
                <p class="sub-text text-muted">30 min ago</p>
              </div>
            </a>
            <a href="" (click)="(false)" class="dropdown-item">
              <div class="icon">
                <i class="feather icon-alert-circle"></i>
              </div>
              <div class="content">
                <p>Server Limit Reached!</p>
                <p class="sub-text text-muted">1 hrs ago</p>
              </div>
            </a>
            <a href="" (click)="(false)" class="dropdown-item">
              <div class="icon">
                <i class="feather icon-layers"></i>
              </div>
              <div class="content">
                <p>Apps are ready for update</p>
                <p class="sub-text text-muted">5 hrs ago</p>
              </div>
            </a>
            <a href="" (click)="(false)" class="dropdown-item">
              <div class="icon">
                <i class="feather icon-download"></i>
              </div>
              <div class="content">
                <p>Download completed</p>
                <p class="sub-text text-muted">6 hrs ago</p>
              </div>
            </a>
          </div>
          <div
            class="dropdown-footer d-flex align-items-center justify-content-center"
          >
            <a href="" (click)="(false)">View all</a>
          </div>
        </div>
      </li>-->
            <li class="nav-item" ngbDropdown>
                <a class="nav-link" ngbDropdownToggle id="languageDropdown" role="button">
                    <span class="ml-1" title="fr" *ngIf="getCurrentLanguage() == 'fr'">Français</span>
                    <span class="ml-1" title="fr" *ngIf="getCurrentLanguage() == 'ar' && !isAdmin">العربية</span>
                    <span class="font-weight-medium ml-1 mr-1 d-none d-md-inline-block"></span>
                </a>
                <div ngbDropdownMenu aria-labelledby="languageDropdown" [ngStyle]="
            this.languageService.userLanguage == 'ar' && {
              'text-align': 'right'
            }
          ">
                    <a style="text-align: center;" ngbDropdownItem class="py-2" *ngIf="!isAdmin" (click)="changeLanguage('ar')">
                        <span class="ml-1">العربية</span></a>
                    <a style="text-align: center;" ngbDropdownItem class="py-2" (click)="changeLanguage('fr')">
                        <span class="ml-1">Français</span></a>
                </div>
            </li>
            <li class="nav-item nav-profile" ngbDropdown>
                <a class="nav-link" ngbDropdownToggle id="profileDropdown">
                    <img [src]="domSanitizer.bypassSecurityTrustResourceUrl(userImage)" alt="profile" />
                </a>
                <div ngbDropdownMenu aria-labelledby="profileDropdown">
                    <div class="dropdown-header d-flex flex-column align-items-center">
                        <div class="figure mb-3">
                            <img [src]="domSanitizer.bypassSecurityTrustResourceUrl(userImage)" alt="" width="80%" height="80%" />
                        </div>
                        <div class="info text-center">
                            <!-- <p class="name font-weight-bold mb-0">Amiah Burton</p> -->
                            <p class="email text-muted mb-0">{{ username }}</p>
                            <p class="name font-weight-bold mb-0">
                                <small *ngFor="let item of roles">{{ item }} </small>
                            </p>
                        </div>
                    </div>
                    <div class="dropdown-body">
                        <ul class="profile-nav p-0 pt-3">
                            <li class="nav-item">
                                <a routerLink="/general/profile" class="nav-link">
                                    <i class="feather icon-user"></i>
                                    <span>{{ "Profile" | translate }}</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a routerLink="/general/password/change" class="nav-link">
                                    <mat-icon style="font-size: 16px; margin-right: 11px;"> vpn_key</mat-icon>
                                    <span>{{ "updatePassword" | translate }}</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="" (click)="onLogout($event)" class="nav-link">
                                    <i class="feather icon-log-out"></i>
                                    <span>{{ "Deconnexion" | translate }}</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</nav>