<div class="row w-100 mx-0 auth-page">
    <div class="col-md-10 col-xl-6 mx-auto">
        <div class="card">
            <div class="row">
                <div class="col-md-4 pr-md-0">
                    <div class="auth-left-wrapper">
                        <img src="assets/images/multilang.png" alt="" />
                    </div>
                </div>
                <div class="col-md-8 pl-md-0">
                    <div class="auth-form-wrapper px-4 py-5">
                        <h5 class="text-muted font-weight-normal mb-4 auth-title" [ngStyle]="
                this.languageService.userLanguage == 'ar' && {
                  'text-align': 'right'
                }
              ">
                            {{ "register" | translate }}
                        </h5>
                        <form class="forms-sample" [formGroup]="registerForm" (ngSubmit)="onRegister($event)">
                            <div class="form-group row" [ngStyle]="
                  this.languageService.userLanguage == 'ar' && {
                    'text-align': 'right'
                  }
                ">
                                <div class="col-6">
                                    <label for="fname">{{"firstName" | translate}} <span class="text-danger"> *</span></label>
                                    <input [(ngModel)]="this.data.firstname" type="text" class="form-control" id="fname" placeholder="{{ 'firstName' | translate }}" formControlName="firstname" [ngClass]="{'is-invalid':isSubmitted && form.firstname.errors}" [ngStyle]="
                      this.languageService.userLanguage == 'ar' && {
                        'text-align': 'right'
                      }
                    " />
                                    <div *ngIf="
                  isSubmitted && form.firstname.errors?.required
                          " class="invalid-feedback">
                                        {{ "RequiredField" | translate }}
                                    </div>
                                </div>
                                <div class="col-6">
                                    <label for="lname">{{"lastName" | translate}}<span class="text-danger"> *</span></label>
                                    <input [(ngModel)]="this.data.lastname" type="text" class="form-control" id="lname" [ngClass]="{'is-invalid':isSubmitted && form.lastname.errors}" placeholder="{{ 'lastName' | translate }}" formControlName="lastname" required [ngStyle]="
                        this.languageService.userLanguage == 'ar' && {
                          'text-align': 'right'
                        }
                      " />
                                    <div *ngIf="
                  isSubmitted && form.lastname.errors?.required
                          " class="invalid-feedback">
                                        {{ "RequiredField" | translate }}
                                    </div>
                                </div>
                            </div>

                            <div class="form-group" [ngStyle]="
                  this.languageService.userLanguage == 'ar' && {
                    'text-align': 'right'
                  }
                ">
                                <label for="Email1">{{
                  "Username" | translate
                  }}<span class="text-danger"> *</span></label>
                                <input [(ngModel)]="this.data.email" type="email" class="form-control" id="Email1" placeholder="{{ 'Username' | translate }}" formControlName="email" [ngClass]="{'is-invalid':isSubmitted && form.email.errors}" [ngStyle]="
                    this.languageService.userLanguage == 'ar' && {
                      'text-align': 'right'
                    }
                  " />
                                <div *ngIf="
                  isSubmitted && form.email.errors?.required
                          " class="invalid-feedback">
                                    {{ "RequiredField" | translate }}
                                </div>
                                <div *ngIf="
                  isSubmitted && form.email.errors?.email
                          " class="invalid-feedback">
                                    {{ "EmailField" | translate }}
                                </div>
                            </div>


                            <div class="form-group" [ngStyle]="
                  this.languageService.userLanguage == 'ar' && {
                    'text-align': 'right'
                  }
                ">
                                <label for="password">{{
                  "Password" | translate
                  }}<span class="text-danger"> *</span></label>
                                <input (keyup)="onChangePassword($event)" [(ngModel)]="this.data.password" type="password" class="form-control" id="password" placeholder="{{ 'Password' | translate }}" formControlName="password" [ngClass]="{'is-invalid':isSubmitted && form.password.errors}"
                                    [ngStyle]="
                    this.languageService.userLanguage == 'ar' && {
                      'text-align': 'right'
                    }
                  " />
                                <div *ngIf="
                  isSubmitted && form.password.errors?.required
                          " class="invalid-feedback">
                                    {{ "RequiredField" | translate }}
                                </div>

                                <div *ngIf="
                                  isSubmitted && form.password.errors?.pattern
                                    " class="invalid-feedback">
                                    <ul *ngFor="let msg of passwordMessages" style="margin-top:10px;">
                                        <li>{{msg | translate}}</li>
                                    </ul>
                                </div>
                            </div>

                            <div class="form-group" [ngStyle]="
                  this.languageService.userLanguage == 'ar' && {
                    'text-align': 'right'
                  }
                ">
                                <label for="cin">{{
                  "accountType" | translate
                  }}<span class="text-danger"> *</span></label>
                                <ng-select (change)="typeChanged($event)" [(ngModel)]="this.data.accountType" [multiple]="false" [ngStyle]=" this.languageService.userLanguage == 'ar' && { 'text-align': 'right','direction':'rtl' } " [searchable]="true" placeholder="{{ 'accountType' | translate }}"
                                    formControlName="accountType" [ngClass]="{ 'is-invalid': isSubmitted && form.accountType.errors }">
                                    <ng-option *ngFor="let prd of accountTypes" [value]="prd.id">{{ prd.id | translate }}</ng-option>
                                </ng-select>
                                <div *ngIf="
                  isSubmitted && form.accountType.errors?.required
                          " class="invalid-feedback">
                                    {{ "RequiredField" | translate }}
                                </div>
                            </div>

                            <div *ngIf="showCin" class="form-group" [ngStyle]="
                  this.languageService.userLanguage == 'ar' && {
                    'text-align': 'right'
                  }
                ">
                                <label for="cin">{{
                                  display | translate
                  }}<span class="text-danger"> *</span></label>
                                <input [(ngModel)]="this.data.cin" type="text" class="form-control" id="cin" placeholder="{{ display | translate }}" formControlName="cin" [ngClass]="{'is-invalid':isSubmitted && form.cin.errors}" [ngStyle]="
                    this.languageService.userLanguage == 'ar' && {
                      'text-align': 'right'
                    }
                  " />
                                <div *ngIf="
                  isSubmitted && form.cin.errors?.required
                          " class="invalid-feedback">
                                    {{ "RequiredField" | translate }}
                                </div>
                            </div>



                            <div class="form-group" [ngStyle]="
                  this.languageService.userLanguage == 'ar' && {
                    'text-align': 'right'
                  }
                ">
                                <label for="phone">{{
                  "phoneNumber" | translate
                  }}<span class="text-danger"> *</span></label>
                                <input [(ngModel)]="this.data.phoneNumber" id="phone" type="tel" class="form-control" placeholder="{{
                    'phoneNumber' | translate
                  }}" formControlName="telephone" mask="00 00 00 00 00" [showMaskTyped]="true" [ngClass]="{'is-invalid':isSubmitted && form.telephone.errors}" [ngStyle]="
                    this.languageService.userLanguage == 'ar' && {
                      'text-align': 'right'
                    }
                  " />
                                <div *ngIf="
                  isSubmitted && form.telephone.errors?.required
                          " class="invalid-feedback">
                                    {{ "RequiredField" | translate }}
                                </div>

                            </div>

                            <div class="mt-3" [ngStyle]="
                  this.languageService.userLanguage == 'ar' && {
                    'text-align': 'right'
                  }
                ">
                                <button type="submit" [disabled]="dataSent" style="min-width: 10vw;" class="btn mx-auto btn-success mr-2 mb-2 mb-md-0 auth-btn-connect">
                                  <span [ngStyle]="dataSent&&{'display':'none'}">
                                    <i data-feather="user-plus" appFeatherIcon></i>
                                    {{ "signUp" | translate }}
                                  </span>
                                  <span [ngStyle]="!dataSent&&{'display':'none'}" style=" margin: 3px 2px;"  class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                                </button>
                                <button (click)="goBack($event)" [disabled]="dataSent" style="min-width: 10vw;margin : 20px 10px;" class="btn btn-primary mr-2 ml-2 mb-2 mb-md-0">
                                  <i data-feather="corner-up-left" appFeatherIcon></i>
                                  {{ "returnHome" | translate }}
                                </button>
                            </div>
                            <div [ngStyle]="
                  this.languageService.userLanguage == 'ar' && {
                    'text-align': 'right'
                  }
                ">
                                <span class="d-block mt-3 text-muted">{{ "hasAccount" | translate }}
                  <a routerLink="/auth/login" class="auth-register-link">{{ "SignIn" | translate }}
                  </a></span>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>