<div id="top"></div>
<div class="col-md-12 stretch-card mb-4" *ngIf="!attaching">
    <div class="card">
        <div class="card-body" [ngStyle]="this.languageService.userLanguage == 'ar' && { direction: 'rtl' }">
            <form id="form" class="row" (ngSubmit)="onFormSubmit()" [formGroup]="getFormGroup">
                <ng-container *ngFor="let d of this.inputs;let i=index" [ngSwitch]="d.type">
                    <ng-container *ngSwitchCase="'simpleInput'" [ngTemplateOutlet]="simpleInput" [ngTemplateOutletContext]="{d:d.data}"></ng-container>
                    <ng-container *ngSwitchCase="'phoneNumber'" [ngTemplateOutlet]="phoneNumber" [ngTemplateOutletContext]="{d:d.data}"></ng-container>
                    <ng-container *ngSwitchCase="'selectInput'" [ngTemplateOutlet]="selectInput" [ngTemplateOutletContext]="{d:d.data}"></ng-container>
                    <ng-container *ngSwitchCase="'titleElement'" [ngTemplateOutlet]="titleElement" [ngTemplateOutletContext]="{title:d.title}"></ng-container>
                </ng-container>
                <div class="col-sm-12 rightSide">
                    <button *ngIf="this.model[this.refName]" (click)="clearForm() " type="button" class="btn submit btn-danger" style=" color: #fff!important; margin: 0px 5px;">
                        <span ><i data-feather="x" appFeatherIcon></i></span>
                    </button>
                    <button [disabled]="dataSent" type="submit" class="btn submit saveBtn">
                        <span *ngIf="!this.model[this.refName]">{{"add" | translate}} </span>
                        <span *ngIf="this.model[this.refName]">{{"update" | translate}}</span>
                        <span *ngIf="!dataSent;else buttonLoader">
                            <i data-feather="save" appFeatherIcon></i>
                        </span>
                    </button>
                </div>
                <!------------------------ Simple Input ---------------------------->
                <ng-template #simpleInput let-d="d">
                    <div class="col-sm-6 form-group" [id]="d.formControlName">
                        <label [ngStyle]=" this.languageService.userLanguage == 'ar' && { 'display':'flex', 'flex-direction': 'row-reverse' } " data-toggle="tooltip" [title]="( d.type | translate )" class="control-label">{{d.label | translate}}<span *ngIf="d.required" class="text-danger"> *</span></label>

                        <input [type]="d.type" class="form-control" [formControlName]="d.formControlName" [ngModel]="d.ngModel" (ngModelChange)="d.onChange($event)" [ngClass]="{ 'is-invalid': isFormSubmitted && form[d.formControlName].errors }" [ngStyle]=" this.languageService.userLanguage == 'ar' && { 'text-align': 'right' } "
                            placeholder="{{ d.placeHolder| translate }}" />

                        <div *ngIf="isFormSubmitted && getFormGroup.get(d.formControlName).errors" class="invalid-feedback">
                            {{ (getErrorInputs(d.formControlName)) | translate }}
                        </div>
                    </div>
                </ng-template>
                <!------------------------ Phone Input  ---------------------------->
                <ng-template #phoneNumber let-d="d">
                    <div class="col-sm-6 form-group" [id]="d.formControlName">
                        <label [ngStyle]=" this.languageService.userLanguage == 'ar' && { 'display':'flex', 'flex-direction': 'row-reverse' } " data-toggle="tooltip" [title]="( d.type | translate )" class="control-label">{{d.label | translate}}<span *ngIf="d.required" class="text-danger"> *</span></label>
                        <input [ngModel]="d.ngModel" (ngModelChange)="d.onChange($event)" type="tel" class="form-control" placeholder="{{ d.placeHolder| translate }}" [formControlName]="d.formControlName" prefix="+{{ NumberCodeForm }}" mask="0 00 00 00 00" [showMaskTyped]="true"
                            [ngClass]="{ 'is-invalid': isFormSubmitted && form[d.formControlName].errors }" [ngStyle]=" this.languageService.userLanguage == 'ar' && { 'text-align': 'right' } " />
                        <div *ngIf="isFormSubmitted && getFormGroup.get(d.formControlName).errors" class="invalid-feedback">
                            {{ (getErrorInputs(d.formControlName)) | translate }}
                        </div>
                    </div>
                </ng-template>
                <!------------------------ Select Input ---------------------------->
                <ng-template #selectInput let-d="d">
                    <div class="col-sm-6 form-group" [id]="d.formControlName">
                        <label [ngStyle]=" this.languageService.userLanguage == 'ar' && { 'display':'flex', 'flex-direction': 'row-reverse' } " data-toggle="tooltip" [title]="( d.type | translate )" class="control-label">{{d.label | translate}}<span *ngIf="d.required" class="text-danger"> *</span></label>
                        <ng-select [ngModel]="getModelValue(d.ngModel)" (ngModelChange)="d.onChange($event)" [multiple]="d.multiple" [formControlName]="d.formControlName" [ngClass]="{ 'is-invalid': isFormSubmitted && form[d.formControlName].errors }" [ngStyle]=" this.languageService.userLanguage == 'ar' && { 'text-align': 'right','direction':'rtl' } "
                            [searchable]="true" placeholder="{{ d.placeHolder| translate }}">
                            <ng-option *ngFor="let op of (getOption(d.options))" [value]="op[d.value]">{{ ((d.getLabel(op,languageService.userLanguage)) | translate) }}</ng-option>
                        </ng-select>
                        <div *ngIf="isFormSubmitted && getFormGroup.get(d.formControlName).errors" class="invalid-feedback">
                            {{ (getErrorInputs(d.formControlName)) | translate }}
                        </div>
                    </div>
                </ng-template>
                <!------------------------ File Input ---------------------------->
                <ng-template #FileInput let-companyfiles="companyfiles" let-index="index">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label data-toggle="tooltip" [title]="( 'file' | translate )" class="control-label" [ngStyle]=" this.languageService.userLanguage == 'ar' && { 'display':'flex', 'flex-direction': 'row-reverse' } ">{{companyfiles.key | translate}}<span class="text-danger" *ngIf="companyfiles.required"> *</span></label>
                            <input (change)="onChangeFile($event,index)" type="file" [accept]="companyfiles.accept" [id]='companyfiles.key' class="file-upload-default" [ngStyle]="this.languageService.userLanguage == 'ar' && {'text-align': 'right'}" />
                            <div class="input-group col-xs-12">
                                <span class="input-group-append" [ngStyle]="companyfiles.data.refDocument==''&&{'display':'none'}">
                                    <button class="btn btn-info download-file"  type="button" [id]="companyfiles.data.refDocument+index" style=" text-align: center!important; " (click)="this.downloadFile(index,companyfiles.data.refDocument)">
                                    <i data-feather="arrow-down-circle"  class="download-icon" appFeatherIcon></i>
                                    <span style="display: none;" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                                </button>
                                </span>
                                <input (click)="openFileBrowser(companyfiles.key)" type="text" class="form-control file-upload-info" disabled="" [value]="companyfiles.data.name" placeholder='{{ "importFile" | translate }}' [ngStyle]="this.languageService.userLanguage == 'ar' && {'text-align': 'right' }"
                                />
                                <span (click)="openFileBrowser(companyfiles.key)" class="input-group-append ">
                                    <button class="btn submit nextBtn" type="button">{{"import"|translate}}
                                    <i data-feather="upload" class="icon-lg" appFeatherIcon></i>
                                    </button>
                                </span>
                            </div>
                        </div>
                        <p class="text-secondary" style=" margin: 8px 0; " [ngStyle]=" this.languageService.userLanguage == 'ar' && { 'text-align': 'right','direction': 'rtl' } ">{{'type_of_files'|translate}}</p>
                        <div class="text-danger" *ngIf="isFormSubmitted && form[companyfiles.key].errors">
                            <small>{{ (getErrorInputs(companyfiles.key)) | translate }}</small>
                        </div>
                    </div>
                </ng-template>
                <!------------------------ Form Title   ---------------------------->
                <ng-template #titleElement let-title="title">
                    <div class="col-12">
                        <br/>
                        <p class="card-title" [ngStyle]=" this.languageService.userLanguage == 'ar' && { 'text-align': 'right' } "> {{ title | translate }} </p>
                    </div>
                </ng-template>
            </form>
        </div>
    </div>
</div>
<app-admin-role-assign *ngIf="this.attaching" [ref]="this.attaching" (finishing)="finishing()"></app-admin-role-assign>
<!-- ******************************** END MANAGEMENT ********************************-->
<!-- ********************************   BEGIN LIST   ********************************-->
<div class="col-md-12 stretch-card">
    <div class="card">
        <div class="card-body" [ngStyle]="this.languageService.userLanguage == 'ar' && { direction: 'rtl' }">
            <div class="table-responsive" style=" position: relative; min-height: 40vh; ">
                <div class="table_loader loader_container" *ngIf="isLoad">
                    <div class="table_loader_background"></div>
                    <div class="spinner-border text-primary" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                </div>
                <div class="rightSide w-100" *ngIf="!isLoad&&this.data.content.length>0">
                    <span class="mr-2 ml-2 displayInlineBlock">{{"elementToDisplay"|translate}} : </span>
                    <select [ngModel]="currentSize" class="w-80px displayInlineBlock" (change)="onChangeSize($event)">
                        <option *ngFor="let size of this.sizes" value="{{size}}">{{size}}</option>
                    </select>
                </div>
                <table class="table text-center" *ngIf="!isLoad&&this.data.content.length>0;else nodata">
                    <thead>
                        <tr>
                            <th *ngFor="let field of this.fields">
                                {{field|translate}}
                            </th>
                            <th *ngFor="let field of this.fieldsStatic">
                                {{field|translate}}
                            </th>
                            <!--<th *ngFor="let field of this.fieldsList">
                                {{field.label|translate}}
                            </th>-->
                            <th *ngFor="let field of this.fieldsDates">
                                {{field|translate}}
                            </th>
                            <th>ACTIONS</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor=" let piece of data.content  | paginate : { itemsPerPage: this.data.pageDetails.size, currentPage: data.pageDetails.number+1, totalItems: data.pageDetails.totalElements } ;let i = index  ">
                            <td *ngFor="let field of this.fields">
                                {{piece[field]}}
                            </td>
                            <td *ngFor="let field of this.fieldsStatic">
                                {{piece[field] | translate}}
                            </td>
                            <!--<td *ngFor="let field of this.fieldsList">
                                <ul>
                                    <li *ngFor="let list of piece[field.label] ">
                                        <span *ngFor="let subItem of  field.data">
                                            {{list[subItem]}}
                                        </span>
                                    </li>
                                </ul>
                            </td>-->
                            <td *ngFor="let field of this.fieldsDates">
                                {{piece[field] | date:"yyyy-MM-dd HH:mm:ss"}}
                            </td>
                            <td>
                                <button [disabled]="doingAction" (click)="updateItem(piece[refName],i)" type="button" class="btn btn-warning" style=" color: #fff!important; width: 38px; padding: 10px 0px; margin:0 2px">
                                    <span *ngIf="doingActionTo!=i;else buttonLoader"><i data-feather="edit-2" appFeatherIcon></i></span>
                                </button>
                                <button [disabled]="doingAction" (click)="linkItem(piece[refName],i)" type="button" class="btn btn-primary" style=" color: #fff!important; width: 38px; padding: 10px 0px; margin:0 2px">
                                    <span *ngIf="doingActionTo!=i;else buttonLoader"><i data-feather="link" appFeatherIcon></i></span>
                                </button>
                                <button [ngStyle]="piece['status']=='DELETED' && { backgroundColor: '#333',borderColor:'#333' }" [disabled]="doingAction||piece['status']=='DELETED'" (click)="deleteItem(confirmRemove,piece[refName],i)" type="button" class="btn btn-danger" style=" color: #fff!important; width: 38px; padding: 10px 0px; margin:0 2px">
                                    <span *ngIf="doingActionTo!=i;else buttonLoader"><i data-feather="trash-2" appFeatherIcon></i></span>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div [ngStyle]="isLoad&&{display:'none'}" id="paginationContainer" *ngIf="!isLoad&&this.data.pageDetails.totalPages>=1">
                <pagination-controls [maxSize]="this.data.pageDetails.totalPages" (pageChange)="onChangePage($event)" previousLabel="" nextLabel="" class="my-pagination"></pagination-controls>
            </div>
            <div *ngIf="!isLoad&&this.data.content.length>0" class="centerizeText smallText">
                <span class="displayBlock">{{"displayedElements" | translate}} : {{this.data.pageDetails.numberOfElements}}</span>
                <span class="displayBlock">{{"totalDemandsNumber" | translate}} : {{this.data.pageDetails.totalElements}}</span>
            </div>
        </div>
    </div>
</div>

<ng-template #nodata>
    <div class="table_loader loader_container bigSize" *ngIf="!isLoad">
        <i data-feather="alert-octagon" appFeatherIcon class="ml-2 mr-2"></i> {{"noData"|translate}}
    </div>
</ng-template>
<ng-template #buttonLoader>
    <span style=" margin: 3px 2px;" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
</ng-template>
<ng-template #confirmRemove let-modal>
    <div class="modal-header">
        <h5 class="modal-title" id="deleteConfirmation">{{"deleted" | translate}}</h5>
        <button type="button" class="close" (click)="modal.close('by: close icon')" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    </div>
    <div class="modal-body">
        <p>{{"confirmDelete"|translate}}</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="modal.close('close')">
      {{"close" | translate}}
    </button>
        <button type="button" class="btn btn-primary" (click)="modal.close('save')">
      {{"delete" | translate}}
    </button>
    </div>
</ng-template>