.centerizeText {
    text-align: center;
}

.smallText {
    font-size: 90%;
}

.w-80px {
    width: 80px;
}

.displayInlineBlock {
    display: inline-block;
}

.displayBlock {
    display: block;
}

.rightSide {
    text-align: right;
}

@media(max-width:700px) {
    .bigSize {
        font-size: 4vw;
    }
}

@media(min-width:700px) {
    .bigSize {
        font-size: 2vw;
    }
}