<div [ngClass]="'currentTheme' | translate">
    <app-public-navbar></app-public-navbar>
    <div>
         <div id="cardsContainer">
        <mat-card class="box" routerLink="/prize-award/new-hassan2-award">
            <img src="assets/images/home/hassan_2.svg" alt="" />
            <h3>Prix Hassan II des manuscrits</h3>
        </mat-card>
        <mat-card class="box" routerLink="/prize-award/new-theater-award">
            <img src="assets/images/home/theater.svg" alt="" />
            <h3>Prix national du théâtre</h3>
        </mat-card>
        <mat-card class="box" routerLink="/prize-award/new-book-award">
            <img src="assets/images/home/book_price.svg" alt="" />
            <h3>Prix du Maroc du livre</h3>
        </mat-card>
        <mat-card class="box" routerLink="/prize-award/new-honorary-award">
            <img src="assets/images/home/honorary_award.svg" alt="" />
            <h3>Prix honorifique</h3>
        </mat-card>
    </div>  
    </div>
 
</div>